{% extends 'base.html.twig' %}

{% block title %}Edit Canal{% endblock %}

{% block body %}
    <h1>Edit Canal</h1>

    {{ include('canal/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('canals') }}">back to list</a>
{% endblock %}
