{% extends 'base.html.twig' %}

{% block title %}Editar canal{% endblock %}

{% block body %}
    <h1>Editar canal</h1>

    {{ include('canal/_form.html.twig', {'button_label': 'Actualitza'}) }}

    <a href="{{ path('canals') }}">Tornar als canals</a>
{% endblock %}
