{% extends 'base.html.twig' %}

{% block title %}Nou Canal{% endblock %}

{% block body %}
    <h1>Crear un nou canal</h1>

    {{ include('canal/_form.html.twig') }}

    <a href="{{ path('canals') }}">Tornar als canals</a>
{% endblock %}
